{% extends "base.html" %}
{% block title %}NBA Shot Map Visualizations{% endblock %}
{% block maps_active %}class="active"{% endblock %}

{% block styles %}
    <style>
       

        
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>NBA Shot Map Visualizations</h1>
        <p> Please enter the team name with spaces (ex: Los Angeles Lakers) and the season in the format (YYYY-YY) (ex: 2000-01) </p>
        <form action="/shot_chart" method="post">
            <input type="text" name="team" placeholder="Enter team name">
            <input type="text" name="season" placeholder="Enter season">
            <input type="submit" value="Generate Shot Chart">
        </form>
        <div class="shot-chart">
            {% if team_name and season_id %}
                <h2>Shot Chart for {{ team_name }} - Season {{ season_id }}</h2>
                <img src="{{ url_for('static', filename='shot_chart.png') }}" alt="Shot Chart">
            {% endif %}
        </div>
    </div>
{% endblock %}
